.home-container-spacing {
  margin-top: 2rem;
  padding-top: 2rem;
  height: 100%;
  overflow: scroll;
}

.intro-container {
  padding-bottom: 330px;
}

@media only screen and (max-width : 768px) {

  .home-container-spacing {
    margin-top: 0px !important;
    height: calc(100vh - 158px) !important;
  }

  .intro-container {
    padding-bottom: 170px;
  }
}
